@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&display=swap');

:root {
  --bs-light-color: #FBFBFB;
}

html {
  background-color: var(--bs-light-color);
}

.push {
  height: 75px;
  }

footer {
  background-color: #162D5D;
  color: #fff;
  height: 50px;
  padding-top: 10px;
}

.App {
/* max-width: 768px;
  margin: 0, auto; */
}

.lobster {
  font-family: 'Lobster', cursive;
}

.openSans {
  font-family: 'Open Sans', sans-serif;
}

.yellowDotBorder {
  border: 2px dotted #E4A11B;
}

.isLink:hover {
  cursor: pointer;
  color: #3B71CA !important;
}

.purpleDotBorder {
  border: 2px dotted #162D5D;
}

.navbar-toggler {
  background-color: var(--bs-light-color) !important;
}

.link, #dropdown {
  text-decoration: none;
  color: var(--bs-light-color);
  font-family: 'Open Sans', sans-serif;
}

.link:hover {
  color: hsla(0, 0%, 100%, 0.75);
}

.dropdown-menu {
  border: 1px dotted #E4A11B !important;

}

.dropdown-item:hover {
  color: #1e2125;
  background-color: #e9ecef;
}

.dropdown-item:active {
  color: #fff;
  background-color: #096efd;
}

